* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Slate pro";
  font-display: swap;
  /*Si la fuente no se encuentra disponible, el navegador utiliza otra por defecto*/
  src: url(../fonts/SlatePro-Black.ttf);
}

body {
  background-color: #000;
}

/*BARRA DE NAVEGACIÓN*/
nav {
  height: 4rem;
  display: flex;
  align-items: center;


}

main p {
  font-family: Helvetica;
  font-size: 1.2rem;

}

.etimologia p {
  text-align: center;
}

nav ul,
nav ul>li {
  display: flex;
  text-shadow: 1px 1px 1px black;
  width: 100%;
  justify-content: space-around;
  list-style: none;
}


/* Estilos del menú desplegable */
.dropdown {
  display: inline-block;
  position: relative;
}

div ul {
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(60, 60, 60, 0.342);
  opacity: 0.8;
  border: 0px 1px 1px 1px solid white;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
  display: block;

}

.dropdown-content a {
  display: block;
  padding: 5px;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #02c4e2;
}

li a {
  font-size: 1.8rem;
}



.txtN-inicio {
  animation: colorChange 15s infinite;

}

.txtN-inicio:hover {
  border-bottom: 1px solid white;
  transition-duration: 2s;
}

.txt-contactanos:hover {
  border-bottom: 1px solid white;
  transition-duration: 2s;
}


@keyframes colorChange {
  0% {
    color: black;
  }

  /* Color inicial */
  10% {
    color: #ffd700;
  }

  /* Color para SOL */
  20% {
    color: #bebebe;
  }

  /* Color para MERCURIO */
  30% {
    color: #ff7f50;
  }

  /* Color para VENUS */
  40% {
    color: #008000;
  }

  /* Color para TIERRA */
  50% {
    color: #ff4500;
  }

  /* Color para MARTE */
  60% {
    color: #b8860b;
  }

  /* Color para JÚPITER */
  70% {
    color: #cd853f;
  }

  /* Color para SATURNO */
  80% {
    color: #00ced1;
  }

  /* Color para URANO */
  90% {
    color: #0000cd;
  }

  /* Color para NEPTUNO */
  100% {
    color: rgb(255, 0, 0);
  }

  /* Color final igual al inicial */
}

#txtN-sol {
  color: #ffd700;
  /* Color para SOL (Amarillo Dorado) */
}

#txtN-mercurio {
  color: #bebebe;
  /* Color para MERCURIO (Gris) */
}

#txtN-venus {
  color: #ff7f50;
  /* Color para VENUS (Naranja claro) */
}

#txtN-tierra {
  color: #008000;
  /* Color para TIERRA (Verde) */
}

#txtN-marte {
  color: #ff4500;
  /* Color para MARTE (Naranja oscuro) */
}

#txtN-jupiter {
  color: #b8860b;
  /* Color para JÚPITER (Dorado) */
}

#txtN-saturno {
  color: #cd853f;
  /* Color para SATURNO (Marrón claro) */
}

#txtN-urano {
  color: #00ced1;
  /* Color para URANO (Cian) */
}

#txtN-neptuno {
  color: #0000cd;
  /* Color para NEPTUNO (Azul medio) */
}

#txtN-luna {
  color: #D3D3D3;
}
#txtN-sol {
  color: #e88000;
}

.txt-contactanos,
.txtN-inicio,
button {
  background: none;
  border: none;
  text-decoration: none;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

/*COSMOS, PLANETA EN MOVIMIENTO*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.titulo {
  width: 90%;
  margin-top: 2rem;
  text-transform: uppercase;
  text-align: center;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  font: 1em "Oswald", sans-serif;
  color: rgba(255, 255, 255, 0.521);
  padding: 0.25em 0 0.325em;
}

#cohete {
  transition-duration: 2s;
  position: fixed;
  z-index: 99999999;
  color: white;
  right: 15px;
  bottom: 15px;
  width: 2rem;
  height: 2rem;

}

.planeta {
  width: 25em;
  height: 25em;
  border-radius: 50%;
  animation: rotacion 20s linear infinite;
  background-size: cover;
  background-position: center;

}

.mercurio {

  background-image: url(../images/Mercurio/Mercurio.webp);
  box-shadow: inset 0 0 20px #5a5a5d,
    inset -50px -10px 20px rgba(81, 81, 81, 0.7);
  animation: rotacion 20s linear infinite;
}

.venus {

  background-image: url(../images/Venus/Venus.webp);
  box-shadow: inset 0 0 20px #ddaf26,
    inset -50px -10px 20px rgba(238, 142, 16, 0.844);
  animation: rotacion 20s linear infinite;
}

.tierra {

  background-image: url(../images/Tierra/mapa-tierra.webp);
  box-shadow: inset 0 0 20px #dde6fd,
    inset -50px -10px 20px rgba(255, 255, 255, 0.7);
  animation: rotacion 20s linear infinite;
}

.marte {
  background-image: url(../images/Marte/Marte.webp);
  animation: rotacion 40s linear infinite;

  box-shadow: inset 0 0 20px #391010,
    inset -50px -10px 20px rgba(82, 8, 8, 0.7);
}

.jupiter {

  background-image: url(../images/Jupiter/Jupiter.webp);
  box-shadow: inset 0 0 20px #77541c,
    inset -50px -10px 20px rgba(81, 48, 6, 0.7);
  animation: rotacion 20s linear infinite;
}

.saturno {

  background-image: url(../images/Saturno/Saturno.webp);
  box-shadow: inset 0 0 20px #8723ac,
    inset -50px -10px 20px rgba(42, 6, 76, 0.7);
  animation: rotacion 20s linear infinite;
}

.urano {
  background-image: url(../images/Urano/Urano.webp);
  box-shadow: inset 0 0 20px #a3b8ec,
    inset -50px -10px 20px rgba(121, 219, 228, 0.7);
  animation: rotacion 20s linear infinite;
}

.neptuno {

  background-image: url(../images/Neptuno/Neptuno.webp);
  box-shadow: inset 0 0 20px #8dadff,
    inset -50px -10px 20px rgba(117, 79, 221, 0.7);
  animation: rotacion 20s linear infinite;
}

.luna {

  background-image: url(../images/Luna/Luna.webp);
  box-shadow: inset 0 0 20px #8dadff,
    inset -50px -10px 20px rgba(117, 79, 221, 0.7);
  animation: rotacion 20s linear infinite;
}
.sol {

  background-image: url(../images/Sol/Sol.webp);
  box-shadow: inset 0 0 20px #ffd58d,
    inset -50px -10px 20px rgba(137, 80, 0, 0.7);
  animation: rotacion 20s linear infinite;
}

@keyframes rotacion {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -1322px;
  }
}

/*CUERPO DE LA PÁGINA*/
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "etimologia etimologia"
    "temperatura curiosidades"
    "atmosfera curiosidades";
  gap: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 5%;
  margin-right: 5%;
}

.etimologia {
  grid-area: etimologia;
}

.temperatura {
  grid-area: temperatura;
}

.atmosfera {
  grid-area: atmosfera;
}

.curiosidades {
  grid-area: curiosidades;
}

main article {
  border-radius: 45px;
  border: 5px solid #ffffff;
}


/*-------------------------*/
.me-etimologia,
.me-atmosfera {
  background-color: #a5a5a5;
  box-shadow: 0px 0px 10px #dbdada, 0px 0px 20px #646464, 0px 0px 30px #4d4d4b,
    0px 0px 40px #181818;

}

.me-etimologia:hover,
.me-atmosfera:hover {
  background-color: #6e6d96;
  transition-duration: 1s;

}

.me-curiosidades,
.me-temperatura {
  background-color: #5b638b;
  box-shadow: 0px 0px 10px #dbdada, 0px 0px 20px #646464, 0px 0px 30px #c03ae6,
    0px 0px 40px #7842eb;

}

.me-curiosidades:hover,
.me-temperatura:hover {
  background-color: #4c427b;
  transition-duration: 1s;

}

/*-------------------------*/
.v-etimologia,
.v-atmosfera {
  background-color: #dfaa37;
  box-shadow: 0px 0px 10px #f4d391, 0px 0px 20px #f29d72, 0px 0px 30px #f59e2c,
    0px 0px 40px #f2a900;


}

.v-etimologia:hover,
.v-atmosfera:hover {
  background-color: #d2841e;
  transition-duration: 1s;

}

.v-curiosidades,
.v-temperatura {
  background-color: #e78a43;
  box-shadow: 0px 0px 10px #f4d391, 0px 0px 20px #f29d72, 0px 0px 30px #f59e2c,
    0px 0px 40px #ff4800;


}

.v-curiosidades:hover,
.v-temperatura:hover {
  background-color: #ec5306;
  transition-duration: 1s;

}

/*-----------------------------------*/
.t-etimologia,
.t-atmosfera {
  background-color: #4d42cc;
  box-shadow: 0px 0px 10px #a695fa, 0px 0px 20px #7074f2, 0px 0px 30px #5c31dd,
    0px 0px 40px #3c00ff;


}

.t-etimologia:hover,
.t-amosfera:hover {
  background-color: #0d00ff;
  transition-duration: 1s;

}

.t-curiosidades,
.t-temperatura {
  background-color: #72ff6a;
  box-shadow: 0px 0px 10px #94ec9d, 0px 0px 20px #6dec75, 0px 0px 30px #18ed3b,
    0px 0px 40px #00f408;



}

.t-curiosidades:hover,
.t-temperatura:hover {
  background-color: #22fe31;
  transition-duration: 1s;

}

/*-----------------------*/
.l-etimologia {
  background-color: #a5a5a5;
  box-shadow: 0px 0px 10px #dbdada, 0px 0px 20px #646464, 0px 0px 30px #2e2e2d,
    0px 0px 40px #181818;
  height: 30rem;


}

.l-etimologia:hover {
  background-color: #6e6d96;
  transition-duration: 1s;

}

.l-curiosidades {
  background-color: #5b638b;
  box-shadow: 0px 0px 10px #dbdada, 0px 0px 20px #646464, 0px 0px 30px #2e2e2d,
    0px 0px 40px #181818;


}




.l-curiosidades:hover {
  background-color: #4c427b;
  transition-duration: 1s;

}

/*---------------------*/
.m-etimologia,
.m-atmosfera {
  background-color: #cc7742;
  box-shadow: 0px 0px 10px #ffd700, 0px 0px 20px #ffa500, 0px 0px 30px #ff8c00,
    0px 0px 40px #ff4500;
}


.m-etimologia:hover,
.m-atmosfera:hover {
  background-color: #c62400;
  transition-duration: 1s;

}

.m-curiosidades,
.m-temperatura {
  background-color: #ffff6a;

  box-shadow: 0px 0px 10px #ffd700, 0px 0px 20px #ffa500, 0px 0px 30px #ff8c00,
    0px 0px 40px #d4ff00;
}



.m-curiosidades:hover,
.m-temperatura:hover {
  background-color: #feaa22;
  transition-duration: 1s;

}

/*------------------------*/
.j-etimologia,
.j-atmosfera {
  background-color: #df8237;
  box-shadow: 0px 0px 10px #edc06d, 0px 0px 20px #f4b257, 0px 0px 30px #f5bb27,
    0px 0px 40px #f2ab06;

}

.j-etimologia:hover,
.j-atmosfera:hover {
  background-color: #D2691E;
  transition-duration: 1s;

}

.j-curiosidades,
.j-temperatura {
  background-color: #F0E68C;
  box-shadow: 0px 0px 10px #edc06d, 0px 0px 20px #f4b257, 0px 0px 30px #f5bb27,
    0px 0px 40px #f2ab06;

}

.j-curiosidades:hover,
.j-temperatura:hover {
  background-color: #b0620e;
  transition-duration: 1s;

}

/*---------------------------------*/
.s-etimologia,
.s-atmosfera {
  background-color: #cc37df;
  box-shadow: 0px 0px 10px #f7bdf4, 0px 0px 20px #e257f4, 0px 0px 30px #eb27f5,
    0px 0px 40px #d606f2;

}

.s-etimologia:hover,
.s-atmosfera:hover {
  background-color: #8a1ed2;
  transition-duration: 1s;

}

.s-curiosidades,
.s-temperatura {
  background-color: #f0d78c;
  box-shadow: 0px 0px 10px #edc06d, 0px 0px 20px #f4b257, 0px 0px 30px #f5bb27,
    0px 0px 40px #f2ab06;

}

.s-curiosidades:hover,
.s-temperatura:hover {
  background-color: #d8750a;
  transition-duration: 1s;

}

/*-------------------------*/
.u-etimologia,
.u-atmosfera {
  background-color: #37dadf;
  box-shadow: 0px 0px 10px #6de2ed, 0px 0px 20px #57e2f4, 0px 0px 30px #279ff5,
    0px 0px 40px #0659f2;

}

.u-etimologia:hover,
.u-atmosfera:hover {
  background-color: #1e6fd2;
  transition-duration: 1s;

}

.u-curiosidades,
.u-temperatura {
  background-color: #8c9df0;
  box-shadow: 0px 0px 10px #6db8ed, 0px 0px 20px #57bdf4, 0px 0px 30px #27c2f5,
    0px 0px 40px #0641f2;

}

.u-curiosidades:hover,
.u-temperatura:hover {
  background-color: #2608ab;
  transition-duration: 1s;

}

/*-------------------------*/
.n-etimologia,
.n-atmosfera {
  background-color: #37a7df;
  box-shadow: 0px 0px 10px #6db8ed, 0px 0px 20px #57bdf4, 0px 0px 30px #27c2f5,
    0px 0px 40px #0641f2;

}

.n-etimologia:hover,
.n-atmosfera:hover {
  background-color: #1e2dd2;
  transition-duration: 1s;

}

.n-curiosidades,
.n-temperatura {
  background-color: #8f8cf0;
  box-shadow: 0px 0px 10px #6db8ed, 0px 0px 20px #57bdf4, 0px 0px 30px #27c2f5,
    0px 0px 40px #0641f2;
}

.n-curiosidades:hover,
.n-temperatura:hover {
  background-color: #180474;
  transition-duration: 1s;

}
.s-etimologia,
.s-atmosfera {
  background-color: #cc7742;
  box-shadow: 0px 0px 10px #ffd700, 0px 0px 20px #ffa500, 0px 0px 30px #ff8c00,
    0px 0px 40px #ff4500;
}


.s-etimologia:hover,
.s-atmosfera:hover {
  background-color: #c62400;
  transition-duration: 1s;

}

.s-curiosidades,
.s-temperatura {
  background-color: #ffff6a;
  box-shadow: 0px 0px 10px #ffd700, 0px 0px 20px #ffa500, 0px 0px 30px #ff8c00,
    0px 0px 40px #d4ff00;
}


.etimologia,
.atmosfera,
.curiosidades,
.temperatura {
  padding: 0.5rem 1rem 1rem 1rem;
}

#indexh1 {
  background-image: url(../images/Mercurio/fondo-Titulo-Mercurio.webp);
  text-align: center;
  width: 80%;
  font-size: 2.5rem;
}

#mercurioh1 {
  background-image: url(../images/Mercurio/fondo-Titulo-Mercurio.webp);
}

#venush1 {
  background-image: url(../images/Venus/fondo-Titulo-Venus.webp);
}

#tierrah1 {
  background-image: url(../images/Tierra/fondo-Titulo-Tierra.png);
}

#lunah1 {
  background-image: url(../images/Luna/fondo-Titulo-Luna.webp);

}
#solh1 {
  background-image: url(../images/Sol/fondo-Titulo-Sol.webp);

}

#marteh1 {
  background-image: url(../images/Marte/fondo-Titulo-Marte.webp);
}

#jupiterh1 {
  background-image: url(../images/Jupiter/fondo-Titulo-Jupiter.webp);
}

#saturnoh1 {
  background-image: url(../images/Saturno/fondo-Titulo-Saturno.webp);
}

#uranoh1 {
  background-image: url(../images/Urano/fondo-Titulo-Urano.webp);
}

#neptunoh1 {
  background-image: url(../images/Neptuno/fondo-Titulo-Neptuno.webp);
}


h1 {
  font: 8em "Oswald", sans-serif;
  animation: rotacion 30s linear infinite;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

h2 {
  color: #f5f5f5;
  font-family: "Slate pro";
  font-size: 2rem;
  text-shadow: 1px 1px 5px black;
  text-align: center;
}

h3 {
  text-align: center;
  color: white;
  padding: 1rem;
}

/*FOOTER*/

footer {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 2rem;

  border: PowderBlue 5px double;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

footer p {
  padding: 0.5rem 0 0.5rem;
  margin: 2rem;
  color: white;
}

@media screen and (max-width: 1024px) {
  .imagen-planeta {

    max-width: 20rem;
    max-height: 20rem;
  }

}

@media screen and (max-width: 768px) {
  .imagen-planeta {
    max-width: 15rem;
    max-height: 15rem;
  }

  h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 480px) {

  header {
    margin-top: 5rem;
  }

  .txtN-inicio,
  .txt-contactanos,
  button {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3.5rem;
  }
  .planeta {
    max-width: 20rem;
    max-height: 20rem;
  }

  main {
    grid-template-columns: repeat(1, 2fr);
    grid-template-areas: "etimologia"
      "temperatura"
      "atmosfera"
      "curiosidades";
  }

}

iframe {
  width: 80%;
  height: 90vh;
  margin: 5vw;
  border: 5px solid white;
  box-shadow: 0px 0px 20px #dbdada, 0px 0px 30px #646464, 0px 0px 40px #2e2e2d,
    0px 0px 50px #181818;
  padding: 1px;
}

#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}