@font-face {
    font-family: "Slate pro";
    src: url(../fonts/SlatePro-Black.ttf);
}

body{
    background-image: url(../images/fondo-universo.webp);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-areas:  "etimologia etimologia"
                          "temperatura curiosidades"
                          "atmosfera curiosidades";
    gap: 1rem;
}

.etimologia{
    grid-area: etimologia;
}
.temperatura{
    grid-area: temperatura;
}
.atmosfera{
    grid-area: atmosfera;
}
.curiosidades{
    grid-area: curiosidades;
}
h1{
    color: #E6E6FA;
    
}
h2{
    color: #F5F5F5;
    font-family: Slate pro;
    text-align: center;
}
p{
    color: white;
    text-align: left;
}
.etimologia,.atmosfera{
    background-color: #8f8cc1;
}
.curiosidades,.temperatura{
    background-color: #a982c8;
}
article{
    padding: 0 1rem 0 0.5rem;
}

@media (max-width: 480px) {
    .tierra-imagen{
        max-width: 15rem;
    }
  }

  @media (min-width: 481px) {
    .tierra-imagen{
        max-width: 20rem;
    }
  } 
  @media (min-width:769px) {
    
  } */
